body {
  padding: 100px;
}

.container {
  width: 500px;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  background-color: burlywood;
}

.movies-holder {
  width: 90%;
  padding: 10px;
  font-size: 15px;
}

li {
  list-style: none;
  padding: 10px;
  border-bottom: 1px dashed white;
  text-align: left;
  font-size: 22px;
}
li button {
  padding: 2px 5px;
  margin-left: 10px;
  background-color: white;
  border: 1px solid black;
}
